@model ClassManagment.Models.AdminRegistration
@{
    ViewBag.Title = "Index";
}




 <!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Classroom Managment</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar navbar-default navbar-fixed-top" data-spy="affix">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-offset-top="400">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-right navbar-nav">
                        <li>@Html.ActionLink("SignUp", "AdminRegistration", "Main")</li>
                        <li>@Html.ActionLink("Login", "Index", "Main")</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar -->
    </nav>
    <div>
        <img src="https://3ek5k1tux0822q3g83e30fye-wpengine.netdna-ssl.com/wp-content/themes/eduma/images/bg-page.jpg" class="img-responsive" alt="class" />
    </div>

    <div class="container body-content">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Index", "Main", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                     <p>
                         @Html.ActionLink("Register as a new user", "AdminRegistration")
                     </p>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                }
                     

                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
             </section>
            </div>
            </div>

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script src="~/Scripts/bootstrap.min.js"></script>
        </body>
</html>
